/* styles.css */
.myclass {
    display: flex; /* Enable Flexbox */
    flex-direction: row; /* Arrange items horizontally */
    overflow: hidden;
    border-top: 2px solid #1d4ed8; /* Equivalent to border-indigo-900 */
    padding-left: 1rem; /* Equivalent to px-4 */
    padding-right: 1rem; /* Equivalent to px-4 */
    padding-top: 1rem; /* Equivalent to py-4 */
    padding-bottom: 1rem; /* Equivalent to py-4 */
    gap: 1rem; /* Optional: Adds space between items */
  }
  
  /* Responsive padding for larger screens */
  @media (min-width: 1024px) {
    .myclass {
      padding-left: 2rem; /* Equivalent to lg:px-8 */
      padding-right: 2rem; /* Equivalent to lg:px-8 */
      padding-top: 2rem; /* Equivalent to lg:py-8 */
      padding-bottom: 2rem; /* Equivalent to lg:py-8 */
      gap: 1.5rem; /* Optional: Increases space between items on larger screens */
    }
  }


  
  .project-card-container {
    width: 1500 px; /* Adjust as needed for the minimum height */
    border: 2px solid #1b2c68a0; /* Equivalent to border-[#1b2c68a0] */
    background: linear-gradient(to right, #0d1224, #0a0d37); /* Equivalent to bg-gradient-to-r */
    border-radius: 0.5rem; /* Equivalent to rounded-lg */
    padding: 1rem; /* Add padding around the content */
  }

  @media (max-width: 400px){
    .myclass{
      flex-direction: column;
    }

    .project-card-container {
      width: 300px;
    }
    iframe{
      height: 100px;
      width: 200px;
    }
  }
  